<!--
  Generated template for the MyinvoicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
		<ion-navbar color="primary">
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
			<ion-title>
				<strong>Klathrate</strong> | Invoices
			</ion-title>
			<ion-buttons end>
				<button ion-button tappable (click)="presentNotifications($event)">
					<ion-icon name="notifications"></ion-icon>
				</button>
				<button ion-button tappable (click)="goToAccount()">
					<ion-icon name="cog"></ion-icon>
				</button>
			</ion-buttons>
		</ion-navbar>
	</ion-header>


<ion-content padding class="leads_list" >
	<div *ngIf="no_data == 5">
			<ion-list  *ngFor="let invoice of allInvoices" (click)="onButtonClick()">
					<ion-item-sliding #item class="borderBottom" >
						<ion-item >
							<ion-grid class="leadslist_block">
							<ion-row>
								<ion-col  class="paddingt_b_zero" col-6>
										<h3>{{invoice.payee}}</h3>
										<p>{{invoice.supplier_place}}</p>
								</ion-col>
								<ion-col text-right col-6 class="paddingl_r_zero paddingt_b_zero">
									<h3>{{invoice.amount_numbers}}/-</h3>
										<p>{{invoice.no_of_days}} Days | {{invoice.start_payment_date}}</p>
							</ion-col>
							</ion-row>
						 </ion-grid>
						</ion-item>
						<ion-item-options side="left" class="left_slide">
							<i class="fa fa-mobile" area-hidden="true" ></i>
			
							<i class="fa fa-comment-o" area-hidden="true" ></i>
			
							<i  class="fa fa-envelope-o" area-hidden="true" ></i>
							
						</ion-item-options>
					</ion-item-sliding>
					<div class="saperator"></div>
					<p *ngIf="buttonClicked"> testtest</p>
				</ion-list>

	</div>
	 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="stopScroll != 0">
	    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <i class="fa fa-plus-circle" (click)="openModal()"></i>

	<ion-row *ngIf="this.no_data == 1">
		<ion-col class="no_image" *ngIf="no_data == 1">
			<img src="assets/img/noData.jpeg">
			<p style="color: gray;text-transform:uppercase;">No Invoices Available</p>
		</ion-col>
		
  </ion-row>
  
</ion-content>


