page-myinvoices {
  
       
        .left_slide i{
            position: relative;
            top: calc(50% - 10px);
            font-size: 25px;
            color: #0065a3;
            //margin:0 14px;
        }
        .left_slide .fa-mobile{
            margin-left:15px;
            font-size: 30px;
        }
        .left_slide .fa-comment-o{
            margin:0 20px;
            //margin-top: 2px;
        }
        .left_slide .fa-envelope-o{
            margin-right:15px;
        }
        ion-item-sliding.active-slide ion-item-options{
            background: #d4d8df;
                opacity: 0.8;
        }
        .leads_list ion-item{
            border-bottom:none !important;
            border-bottom-left-radius: 40px;
            border-top-left-radius: 40px;
        }
        ion-list{
            //margin-bottom:0 !important;
        }
        .padding_b_zero{
            padding-bottom:0;
        }
        .padding_t_zero{
            padding-top:0;
        }
        
        .item-md{
            padding-left:0;
        }
        .label-md{
            margin:0 !important;
        }
        .item-ios.item-block .item-inner{
            border-bottom:none !important;
        }
        .item-md.item-block .item-inner, .list-md .item-block .item-inner{
            border-bottom:0 !important;
        }
        .borderBottom{
            border-bottom: 2px solid #dedede;
        }
        .fa-plus-circle{
            font-size: 60px;
            position: absolute;
            right: 10%;
            bottom: 5%;
        }
        .no_image{
            text-align: center;
            position: absolute;
            top: calc(25% - 15px);
            line-height: 1em;
            left: 0;
        }
        img{
            width: 60%;
        }
        
    }
    

