<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
          <strong>Klathrate</strong> | Invoices
      </h2>
    </div>

    <!-- Login form -->
    <form class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Name
        </ion-label>
        <ion-input name="name" [(ngModel)]="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input  name="email" [(ngModel)]="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input name="password"  [(ngModel)]="password" type="password"></ion-input>
      </ion-item>

      <ion-item *ngIf="step2 == true">
        <ion-label floating>
          <ion-icon name="phone-portrait" item-start class="text-primary"></ion-icon>
          Mobile Number
        </ion-label>
        <ion-input  name="mobNo" [(ngModel)]="mobNo" type="number"></ion-input>
      </ion-item>

      <ion-item *ngIf="step2 == true">
        <ion-label floating>
          <ion-icon name="pricetag" item-start class="text-primary"></ion-icon>
          GST Number
        </ion-label>
        <ion-input name="gst_no" [(ngModel)]="gst_no" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="step2 == true">
        <ion-label floating>
          <ion-icon name="pricetag" item-start class="text-primary"></ion-icon>
          TIN Number
        </ion-label>
        <ion-input name="tin_no" [(ngModel)]="tin_no" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="step3 == true">
        <ion-label floating>
          <ion-icon name="pricetag" item-start class="text-primary"></ion-icon>
          TAN Number
        </ion-label>
        <ion-input name="tan_no" [(ngModel)]="tan_no" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="step3 == true">
        <ion-label floating>
          <ion-icon name="pricetag" item-start class="text-primary"></ion-icon>
          PAN Number
        </ion-label>
        <ion-input name="pan_no" [(ngModel)]="pan_no" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="step3 == true">
        <ion-label floating>
          <ion-icon name="md-navigate" item-start class="text-primary"></ion-icon>
          City
        </ion-label>
        <ion-input name="city" [(ngModel)]="city" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="step3 == true">
        <ion-label floating>
          <ion-icon name="pricetag" item-start class="text-primary"></ion-icon>
          Company Aadhar
        </ion-label>
        <ion-input  name="com_aadhar" [(ngModel)]="com_aadhar" type="text"></ion-input>
      </ion-item>
      

    </form>

    <div margin-top  *ngIf="step2 == false">
      <button  ion-button block color="dark" tappable (click)="onStepTwo()">
        NEXT
      </button>
    </div>

    <div margin-top  *ngIf="step3button == true">
      <button ion-button block color="dark" tappable (click)="onStepThree()">
        NEXT
      </button>
    </div>

    <div margin-top  *ngIf="step3 == true">
      <button ion-button block color="dark" tappable (click)="register()">
        SIGN UP
      </button>
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="login()">I have an account</span>
    </div>
    <div class="marginBottom"  *ngIf="step2 == true"></div>
    <div class="marginBottom"  *ngIf="step3 == true"></div>
  </div>
</ion-content>
