page-modal {
	.toolbar-background{
		background: #4c6df9;
	}
	.toolbar-title{
	    text-align: center;
	    color:white;
	}
	.fa-times-circle{
	 	font-size: 20px;
	    position: absolute;
	    right: 10px;
	    top: 0;
	    line-height: 2.7;
	}
}
