<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar>
    <ion-title>Create Invoice</ion-title>
    <i class="fa fa-times-circle"  (click)="closeModal()" aria-hidden="true"></i>
</ion-navbar>

</ion-header>


<ion-content class="">
  <div class="login-content">
    <!-- Login form -->
    <form class="list-form">
    	<ion-grid>
	        <ion-row>
	          <ion-col col-12>
	             <ion-item>
			        <ion-label floating>
			          Payee Name
			        </ion-label>
			        <ion-input name="payee" [(ngModel)]="payee" type="text"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-12>
	             <ion-item>
			        <ion-label floating>
			          Payer Name
			        </ion-label>
			        <ion-input name="payer" [(ngModel)]="payer" type="text"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-12>
	             <ion-item>
			        <ion-label floating>
			          Amount in no.
			        </ion-label>
			        <ion-input name="amount_numbers" [(ngModel)]="amount_numbers" type="text"></ion-input>
			      </ion-item>
				</ion-col>
				<ion-col col-12>
					<ion-item>
				 <ion-label floating>
					 No. of days
				 </ion-label>
				 <ion-input name="no_of_days" [(ngModel)]="no_of_days" type="number"></ion-input>
			 </ion-item>
			 </ion-col>
	          <ion-col col-12>
	             <ion-item>
			        <ion-label floating>
			          Amount in words
			        </ion-label>
			        <ion-input name="amount_words" [(ngModel)]="amount_words" type="text"></ion-input>
			      </ion-item>
	          </ion-col>
	          
	          <ion-col col-12 *ngIf="step2 == true">
	             <ion-item>
			        <ion-label floating>
			          Start Date
			        </ion-label>
			        <ion-input name="start_payment_date" [(ngModel)]="start_payment_date" type="date"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-12 *ngIf="step2 == true">
	             <ion-item>
			        <ion-label floating>
			          End Date
			        </ion-label>
			        <ion-input name="end_payment_date" [(ngModel)]="end_payment_date" type="date"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-12 *ngIf="step2 == true">
	             <ion-item>
			        <ion-label floating>
			          Buyer's Name
			        </ion-label>
			        <ion-input name="buyer_name" [(ngModel)]="buyer_name" type="text"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-12 *ngIf="step2 == true">
	             <ion-item>
			        <ion-label floating>
			          Buyer's Email
			        </ion-label>
			        <ion-input name="buyers_email" [(ngModel)]="buyers_email" type="email"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-12 *ngIf="step2 == true">
	             <ion-item>
			        <ion-label floating>
			          Buyer's Address
			        </ion-label>
			        <ion-input name="buyer_address" [(ngModel)]="buyer_address" type="text"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-12 *ngIf="step2 == true">
	             <ion-item>
			        <ion-label floating>
			          Supplier's Place
			        </ion-label>
			        <ion-input name="supplier_place" [(ngModel)]="supplier_place" type="text"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-12 *ngIf="step3 == true">
	             <ion-item>
			        <ion-label floating>
			          Buyer's Place
			        </ion-label>
			        <ion-input name="buyers_place" [(ngModel)]="buyers_place" type="text"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-12 *ngIf="step3 == true">
	             <ion-item>
			        <ion-label floating>
			          Bill no.
			        </ion-label>
			        <ion-input name="bill_no" [(ngModel)]="bill_no" type="number"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-12 *ngIf="step3 == true">
	             <ion-item>
			        <ion-label floating>
			          Bill Date
			        </ion-label>
			        <ion-input  name="bill_date" [(ngModel)]="bill_date" type="date"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-12 *ngIf="step3 == true">
	             <ion-item>
			        <ion-label floating>
			          Attachments
			        </ion-label>
			        <ion-input name="filename" [(ngModel)]="filename" type="file" multiple></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-12 style="margin-top: 20px">
	             <ion-item>
			        <p>
						* Irrevocable Bill of Exchange
						</p>
						<p>
						* Unconditional payment Order
						</p>
						<p>
						* Attach only pdf | doc | png | jpeg
			        </p>
			      </ion-item>
				</ion-col>
				<ion-col col-12 *ngIf="step2 == false">
					<button ion-button icon-start block color="dark" tappable (click)="onStepTwo()">
						NEXT
					</button>
				</ion-col>
				<ion-col col-12 *ngIf="step3button == true">
					<button ion-button icon-start block color="dark" tappable (click)="onStepThree()">
						NEXT
					</button>
				</ion-col>
				<ion-col col-12 *ngIf="step3 == true">
					<button ion-button icon-start block color="dark" tappable (click)="createInvoice()">
						<ion-icon name="log-in"></ion-icon>
						CREATE INVOICE
					</button>
				</ion-col>
	        </ion-row>
		</ion-grid>
			
    </form>

    <div margin-top>
    

     

      
    </div>

    <!-- Other links -->
    
  </div>
</ion-content>
