page-mynotifications {
    .no_image{
        text-align: center;
        position: absolute;
        top: calc(20% - 15px);
        line-height: 1em;
        left: 0;
    }
    img{
        width: 60%;
    }
}
