<!--
  Generated template for the MynotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <strong>Klathrate</strong> | Invoices
      </ion-title>
      <ion-buttons end>
        <button ion-button tappable (click)="presentNotifications($event)">
          <ion-icon name="notifications"></ion-icon>
        </button>
        <button ion-button tappable (click)="goToAccount()">
          <ion-icon name="cog"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


<ion-content padding>

</ion-content>
<ion-content padding class="leads_list" *ngIf="this.no_data == 1">
	<ion-row >
		<ion-col class="no_image" *ngIf="no_data == 1">
			<img src="assets/img/notificationIcon.png">
			<p style="color: gray;text-transform:uppercase;">No Notifications</p>
		</ion-col>
  </ion-row>
</ion-content>