<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Klathrate</strong> | Invoices
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-tabs #ionTabs  selectedIndex='0' color="{{tabsColor}}" mode='{{tabsMode}}'
  tabsHighlight="true" tabsPlacement="{{tabsPlacement}}">
  <ion-tab [root]="CreateInvoicesRoot" [show]='tabToShow[0]' tabIcon="home" tabTitle="CreateInvoice"></ion-tab>
  <ion-tab [root]="MyInvoicesPageRoot" [show]='tabToShow[1]' tabIcon="calendar" tabTitle="Invoices"></ion-tab>
  <ion-tab [root]="MyNotificationsPageRoot" [show]='tabToShow[2]' tabIcon="notifications" tabTitle="Notifications"></ion-tab>
</ion-tabs>
<!-- <ion-content padding class="animated fadeIn common-bg">

  <ion-card no-margin margin-bottom class="full-width">
    <ion-item tappable (click)="choosePlace('from')" class="border-bottom">
      <ion-icon name="search" color="primary" item-left></ion-icon>
      <span>{{ search.name }}</span>
    </ion-item>
    <ion-item>
      <ion-icon name="md-calendar" color="primary" item-left></ion-icon>
      <ion-datetime class="no-pl" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="search.date"></ion-datetime>
    </ion-item>
  </ion-card>

  <button ion-button icon-start block no-margin color="primary" class="round" tappable (click)="doSearch()">
    <ion-icon name="search"></ion-icon> Search
  </button>

</ion-content> -->
