<!--
  Generated template for the CreateinvoicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
		<ion-navbar color="primary">
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
			<ion-title>
				<strong>Klathrate</strong> | Invoices
			</ion-title>
			<ion-buttons end>
				<button ion-button tappable (click)="presentNotifications($event)">
					<ion-icon name="notifications"></ion-icon>
				</button>
				<button ion-button tappable (click)="goToAccount()">
					<ion-icon name="cog"></ion-icon>
				</button>
			</ion-buttons>
		</ion-navbar>
	</ion-header>


<!-- -->
<ion-content class="">
  <div class="login-content">
    <!-- Login form -->
    <form class="list-form">
    	<ion-grid>
	        <ion-row>
	          <ion-col col-6>
	             <ion-item>
			        <ion-label floating>
			          Payee Name
			        </ion-label>
			        <ion-input type="text"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-6>
	             <ion-item>
			        <ion-label floating>
			          Payer Name
			        </ion-label>
			        <ion-input type="text"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-6>
	             <ion-item>
			        <ion-label floating>
			          Amount in numbers
			        </ion-label>
			        <ion-input type="text"></ion-input>
			      </ion-item>
						</ion-col>
						<ion-col col-6>
							<ion-item>
						 <ion-label floating>
							 No. of days
						 </ion-label>
						 <ion-input type="number"></ion-input>
					 </ion-item>
					 </ion-col>
	          <ion-col col-12>
	             <ion-item>
			        <ion-label floating>
			          Amount in words
			        </ion-label>
			        <ion-input type="text"></ion-input>
			      </ion-item>
	          </ion-col>
	          
	          <ion-col col-6>
	             <ion-item>
			        <ion-label floating>
			          Start Date
			        </ion-label>
			        <ion-input type="date"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-6>
	             <ion-item>
			        <ion-label floating>
			          End Date
			        </ion-label>
			        <ion-input type="date"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-6>
	             <ion-item>
			        <ion-label floating>
			          Buyer's Name
			        </ion-label>
			        <ion-input type="text"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-6>
	             <ion-item>
			        <ion-label floating>
			          Buyer's Email
			        </ion-label>
			        <ion-input type="email"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-6>
	             <ion-item>
			        <ion-label floating>
			          Buyer's Address
			        </ion-label>
			        <ion-input type="text"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-6>
	             <ion-item>
			        <ion-label floating>
			          Supplier's Place
			        </ion-label>
			        <ion-input type="text"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-6>
	             <ion-item>
			        <ion-label floating>
			          Buyer's Place
			        </ion-label>
			        <ion-input type="text"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-6>
	             <ion-item>
			        <ion-label floating>
			          Bill no.
			        </ion-label>
			        <ion-input type="number"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-6>
	             <ion-item>
			        <ion-label floating>
			          Bill Date
			        </ion-label>
			        <ion-input type="date"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-6>
	             <ion-item>
			        <ion-label floating>
			          Attachments
			        </ion-label>
			        <ion-input type="file"></ion-input>
			      </ion-item>
	          </ion-col>
	          <ion-col col-12>
	             <ion-item>
			        <p>
							* Irrevocable Bill of Exchange
							</p>
							<p>
							* Unconditional payment Order
							</p>
							<p>
							* Attach only pdf | doc | png | jpeg
			        </p>
			      </ion-item>
						</ion-col>
						<ion-col col-12>
							<button ion-button icon-start block color="dark" tappable (click)="login()">
								<ion-icon name="log-in"></ion-icon>
								CREATE INVOICE
							</button>
						</ion-col>
	        </ion-row>
				</ion-grid>
			
    </form>

    <div margin-top>
    

     

      
    </div>

    <!-- Other links -->
    
  </div>
</ion-content>

